<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="PracticeFromStarting">
    <classes>
      <class name="practice.PracticeFromStarting">
      <methods>
	   <include name="applaunch"></include> 
	   <include name="singup"></include> 
	   <include name="appclose"></include>
	  </methods>
      </class>
      </classes>
      </test>
      <test thread-count="5" name="Testing">
      <classes>
      <class name="TestNG.Testng">
		<methods>
			<exclude name="m1"></exclude>
		</methods> 
      </class> 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
